
body{
	background-color: lavender;
	font-family: "メイリオ","Hiragino Kaku Gothic Pro",
"ヒラギノ角ゴ Pro W3", "MS Pゴシック", Helvetica, Arial, sans-serif;


}
#dammy_font {
	font-family: sans-serif;// ゴシック系フォント
	font-family: serif; 	// 明朝系フォント
	font-family: cursive;	// 筆記体・草書体フォント
	font-family: fantasy;	// 装飾的フォント
	font-family: monospace;	// 等幅フォント
}

#container {
	background-color: 43d8c9 ;
	width: 480px;
	height:700px;
	margin: auto;

	padding-top: 1px;

	border-radius: 20px;


}

#inform {
	border: solid 5px;
	border-color: lightgreen;
	background-color: aliceblue ;
	width: 390px;
	height:320px;
	margin: 20px;
	padding: 20px;


}

#inform select {
	font-size:24px;

}



.in_text {
	font-size:32px;
	text-align:center;
}

.in_text input {
	font-size:24px;
}
.comment {
	background-color: aliceblue ;
	width: 380px;
	margin: 20px;
	padding: 30px;
	margin-top: 0px;

}

.box1{
	text-align: center;
}

.ok_button {
	width: 80px;
	height: 80px;
	background-color: 4cd3c2 ;
	font-size: 24px ;
	color: 30475e ;
	border-radius: 40px;
}

.ok_button:hover {
	background-color: lime ;
	color: ightyellow   ;

}
.ok_button:active {
	color: red ;
}



.cancel {
	width: 70px;
	height: 70px;
	background-color: crimson;
	font-size: 15px ;
	color: 30475e ;
	border-radius: 35px;

}
.cancel:hover {
	background-color:  ee91bc ;
	color: ightyellow   ;
	filter:alpha(opacity=80);
}
.cancel: active {
	color: red ;
}
.cancel .reset_text{
	font-size:12px;
}


h1{
	text-align:center;
	font-size:36px;
}
